<div class="container">
  <div class="row">
    <div class="col-mg-3" style="background-color: white;">
  <table border>
  <thead>
    <th colspan"1">ジャンル検索</th>
  </thead>
  <tr>
    <td>ケーキ</td>
  </tr>
  <tr>
    <td>焼き菓子</td>
  </tr>
  <tr>
    <td>プリン</td>
  </tr>
  <tr>
    <td>キャンディ</td>
  </tr>
  </table>
    </div>

  <div class="col-md-6" style="background-color: white;">
<table border>
  <tr>
    <td>ようこそ、ながのCAKEへ！</td>
  </tr>
  <tr>
    <td>このサイトは、ケーキ販売のECサイトになります。</td>
  </tr>
  <tr>
    <td>会員でない方も商品の閲覧はできますが、</td>
  </tr>
  <tr>
    <td>購入には会員登録が必要になります。</td>
  </tr>
</table>

<h1>新着商品</h1>
<table>
  <tr>
    <td>横並びで新着商品4つが出てくるようにする</td>
    <!-- <td><--%= link_to "全ての商品を見る >", books_path %></td> -->
  </tr>
</table>
  </div>
  </div>
</div>