<div class="container">
  <div class="row">
    <div class="col-md-4" style="background-color: white;">
 <%= render "public/shared/janru" %>
    </div>

  <div class="col-md-8" style="background-color: white;">
<table class="border border-dark">
  <tr>
    <td>ようこそ、ながのCAKEへ！</td>
  </tr>
  <tr>
    <td>このサイトは、ケーキ販売のECサイトになります。</td>
  </tr>
  <tr>
    <td>会員でない方も商品の閲覧はできますが、</td>
  </tr>
  <tr>
    <td>購入には会員登録が必要になります。</td>
  </tr>
</table>

<h1>新着商品</h1>
<table>
  <tr>
    <td>横並びで新着商品4つが出てくるようにする</td>
    <!-- <td><--%= link_to "全ての商品を見る >", books_path %></td> -->
  </tr>
</table>
  </div>
  </div>
</div>